.header {
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: var(--red);
}
.homeHeader {
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
  background-color: transparent;
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  width: 1376px;
  margin: 0 auto;
}

.headerElementWrapper {
  width: 1184px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
