.input {
  height: 52px;
  width: 100%;
  padding: 10px;
  margin-bottom: 18px;
  border: 1px solid #11101c1a;
  border-radius: 12px;
}

.input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--black);
}

/* input:focus {
  outline: none;
  border-color: #6200ee;
} */

/* Стилі для помилок */
p {
  color: red;
  font-size: 12px;
}

.labelVisuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.passwordWrapper {
  position: relative;
}

.btnTogglePassword {
  position: absolute;
  left: 400px;
  top: 50%;
  transform: translateY(-98%);
  background: none;
  padding: 0;
  line-height: 0;
}
