.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  color: var(--gray);
  display: block;
  text-align: left;
  margin-bottom: 8px;
}

.fiterContainer {
  padding-top: 64px;
  margin-bottom: 32px;
}

.section {
  width: 1184px;
  margin-left: auto;
  margin-right: auto;
}
