.circleRewievWrapper {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.circle {
  width: 44px;
  height: 44px;
  background-color: #f03f3b33;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initial {
  color: var(--red);
  font-size: 20px;
  line-height: 1;
}
.raitingWrapper {
  display: flex;
}
.revierRaitingWrapper {
  display: flex;
  flex-direction: column;
}

.revierName {
  color: var(--black);
  font-size: 16px;
  line-height: 1.25;
}

.raitingText {
  color: var(--black);
  font-size: 14px;
  line-height: 1.28;
}

.starIcon {
  color: var(--yellow);
  margin-right: 8px;
}
